@media only screen and (max-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .flex > button {
    width: 100%;
  }

  #page-room header {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .question {
    width: 90vw;
  }
  
  .question footer .user-info span {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 0;
 }
} 